.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
/.idea/vcs.xml
/.idea/modules.xml
/.idea/misc.xml
/.idea/jarRepositories.xml
/.idea/gradle.xml
/grandle/gradle/wrapper/gradle-wrapper.properties
/grandle/gradlew.bat
/grandle/settings.gradle
/grandle/gradlew
/.idea/.gitignore
/grandle/gradle/wrapper/gradle-wrapper.jar
/.idea/shortURL.iml
/grandle/build/tmp/compileJava/previous-compilation-data.bin
/.idea/encodings.xml
/grandle/build/classes/java/main/ConnectToPostgresDB.class
/grandle/build/classes/java/main/Constants.class
/grandle/build/classes/java/main/Main.class
/logs/app.log
/grandle/build/classes/java/main/CreateTable.class
/grandle/build/resources/main/log4j2.properties
/grandle/build/classes/java/main/RandomString.class
/grandle/build/classes/java/main/TableOperations.class
/.idea/uiDesigner.xml
